In [43]:
import numpy as np
import pandas as pd

In [44]:
csv_path = r"C:\Users\kjain307\Documents\GitHub\INST737-UniversityOfMaryland-DataScience-H1BAnalysis\Milestone2\encoding\clean-new3.csv"

In [45]:
df = pd.read_csv(csv_path)

C:\Users\kjain307\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
df.dtypes

Unnamed: 0                      int64
X                               int64
Unnamed..0                      int64
Unnamed..0.1                    int64
AGENT_ATTORNEY_CITY            object
AGENT_ATTORNEY_NAME            object
AGENT_PRESENT                   int64
CASE_STATUS                     int64
DURATION                        int64
HOURLY_WAGE                   float64
SOC_NAME                       object
WAGE_RATE_OF_PAY_FROM_HOUR    float64
WILLFUL_VIOLATOR                int64
dtype: object

In [47]:
df = df.drop(['AGENT_ATTORNEY_STATE','CASE_NUMBER','CASE_SUBMITTED','DECISION_DATE','EMPLOYER_ADDRESS','EMPLOYER_CITY','EMPLOYER_COUNTRY'],1)

In [51]:
df = df.drop(['Unnamed: 0','X','Unnamed..0','Unnamed..0.1'],1)

In [52]:
df = df.drop(['EMPLOYER_NAME','EMPLOYER_STATE','EMPLOYMENT_END_DATE','EMPLOYMENT_START_DATE','H.1B_DEPENDENT','JOB_TITLE','PREVAILING_WAGE','PW_UNIT_OF_PAY','PW_WAGE_SOURCE_YEAR','SOC_CODE','TOTAL_WORKERS','VISA_CLASS','WAGE_RATE_OF_PAY_FROM','WAGE_RATE_OF_PAY_TO','WAGE_UNIT_OF_PAY','WORKSITE_CITY','WORKSITE_COUNTY','WORKSITE_STATE','WORKSITE_POSTAL_CODE'], 1)

KeyError: "['EMPLOYER_NAME' 'EMPLOYER_STATE' 'EMPLOYMENT_END_DATE'\n 'EMPLOYMENT_START_DATE' 'H.1B_DEPENDENT' 'JOB_TITLE' 'PREVAILING_WAGE'\n 'PW_UNIT_OF_PAY' 'PW_WAGE_SOURCE_YEAR' 'SOC_CODE' 'TOTAL_WORKERS'\n 'VISA_CLASS' 'WAGE_RATE_OF_PAY_FROM' 'WAGE_RATE_OF_PAY_TO'\n 'WAGE_UNIT_OF_PAY' 'WORKSITE_CITY' 'WORKSITE_COUNTY' 'WORKSITE_STATE'\n 'WORKSITE_POSTAL_CODE'] not found in axis"

In [53]:
df.dtypes

AGENT_ATTORNEY_CITY            object
AGENT_ATTORNEY_NAME            object
AGENT_PRESENT                   int64
CASE_STATUS                     int64
DURATION                        int64
HOURLY_WAGE                   float64
SOC_NAME                       object
WAGE_RATE_OF_PAY_FROM_HOUR    float64
WILLFUL_VIOLATOR                int64
dtype: object

In [54]:
df['CASE_STATUS']=df['CASE_STATUS'].astype('category')

In [55]:
df['AGENT_PRESENT']=df['AGENT_PRESENT'].astype('category')

In [56]:
df['SOC_NAME']=df['SOC_NAME'].astype('category')

In [57]:
df['WILLFUL_VIOLATOR']=df['WILLFUL_VIOLATOR'].astype('category')

In [58]:
df = pd.concat([df,pd.get_dummies(df['AGENT_PRESENT'], prefix='AGENT_PRESENT',dummy_na=True)],axis=1).drop(['AGENT_PRESENT'],axis=1)

In [59]:
df = pd.concat([df,pd.get_dummies(df['CASE_STATUS'], prefix='CASE_STATUS',dummy_na=True)],axis=1).drop(['CASE_STATUS'],axis=1)

In [60]:
#df = pd.concat([df,pd.get_dummies(df['SOC_NAME'], prefix='SOC_NAME',dummy_na=True)],axis=1).drop(['SOC_NAME'],axis=1)

In [61]:
#df = pd.concat([df,pd.get_dummies(df['WILLFUL_VIOLATOR'], prefix='WILLFUL_VIOLATOR',dummy_na=True)],axis=1).drop(['WILLFUL_VIOLATOR'],axis=1)

In [62]:
df.dtypes

AGENT_ATTORNEY_CITY             object
AGENT_ATTORNEY_NAME             object
DURATION                         int64
HOURLY_WAGE                    float64
SOC_NAME                      category
WAGE_RATE_OF_PAY_FROM_HOUR     float64
WILLFUL_VIOLATOR              category
AGENT_PRESENT_0.0                uint8
AGENT_PRESENT_1.0                uint8
AGENT_PRESENT_nan                uint8
CASE_STATUS_0.0                  uint8
CASE_STATUS_1.0                  uint8
CASE_STATUS_nan                  uint8
dtype: object

In [63]:
df

,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_NAME,DURATION,HOURLY_WAGE,SOC_NAME,WAGE_RATE_OF_PAY_FROM_HOUR,WILLFUL_VIOLATOR,AGENT_PRESENT_0.0,AGENT_PRESENT_1.0,AGENT_PRESENT_nan,CASE_STATUS_0.0,CASE_STATUS_1.0,CASE_STATUS_nan
0,MINNEAPOLIS,DEBRA SCHNEIDER,0,9.9,MECHANICAL ENGINEERS,10.40,26,0,1,0,1,0,0
1,NaN,NaN,6,22.3,"ENGINEERING TEACHERS, POSTSECONDARY",44.30,40,1,0,0,0,1,0
2,SCHAUMBURG,ELDON KAKUDA,6,34.4,"ELECTRONICS ENGINEERS, EXCEPT COMPUTER",34.40,49,0,1,0,0,1,0
3,WASHINGTON,JAMES ALEXANDER,6,50.5,COMPUTER PROGRAMMERS,50.50,51,0,1,0,0,1,0
4,MINNEAPOLIS,DEBRA SCHNEIDER,0,10.4,MARKET RESEARCH ANALYSTS,10.40,26,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
961941,NaN,NaN,6,33.5,WEB DEVELOPERS,33.53,42,1,0,0,0,1,0
961942,WEST BLOOMFIELD,"SHERMAN, MICHAEL",6,32.9,WEB DEVELOPERS,59.10,25,0,1,0,0,1,0
961943,WASHINGTON,"MUHLENKAMP, PRISCILLA",6,33.1,WEB DEVELOPERS,33.10,22,0,1,0,0,1,0
961944,RESTON,"GOEL, VIC",4,38.2,WEB DEVELOPERS,38.20,22,0,1,0,0,1,0
961945,RESTON,"GOEL, VIC",6,30.6,WEB DEVELOPERS,32.60,22,0,1,0,0,1,0

In [64]:
df.to_csv(r'C:\Users\kjain307\Documents\GitHub\INST737-UniversityOfMaryland-DataScience-H1BAnalysis\Milestone2\encoding\onehotenc_clean.csv', encoding='utf-8')